//
//  Release.xcconfig
//
//  Created by Patrick Piemonte on 3/26/13.
//

#include "Base.xcconfig"

GCC_OPTIMIZATION_LEVEL = s
GCC_PREPROCESSOR_DEFINITIONS = _LIBCPP_VISIBLE= NDEBUG=1 NS_BLOCK_ASSERTIONS=1

DEAD_CODE_STRIPPING = YES
COPY_PHASE_STRIP = YES

OTHER_CFLAGS[sdk=iphone*] = $(OTHER_CFLAGS) -DNS_BLOCK_ASSERTIONS=1

VALIDATE_PRODUCT = YES
